* {
  box-sizing: border-box;
}

body {
  text-combine-upright: digits 2;
  --division-horizontal: 15;
  --division-vertical: 130;
  --paper-width: 406mm;
  --paper-height: 546mm;
  --color-blue: #728db6;
  background-color: #f3f4f5;
}

p {
  font-size: 10px;
  text-indent: 1em;
  transform: scale(calc(10.8 / 8.6 * 0.5), 0.55);
  transform-origin: top right;
  margin: 0;
  height: 180%;
  width: 50%;
}

.continued {
  & p:first-child {
    text-indent: 0;
  }
}

@page paper {
  size: var(--paper-width) var(--paper-height);
  marks: crop cross;
  margin: 10mm;

  @top-center {
    content: "日本経済新聞";
    letter-spacing: 1em;
    transform: scale(0.8, 0.5);
    margin-top: 28px;
  }
}

@page :left {
  @top-left {
    content: counter(page);
    margin-top: 28px;
  }
}

@page :right {
  @top-right {
    content: counter(page);
    margin-top: 28px;
  }
}

.pagedjs_pages {
    width: var(--paper-width);
    margin: 0 auto;
}
.pagedjs_page {
    background: white;
    box-shadow: 0 0 0 2px inset rgba(0,0,0,0.2);
    margin: 0 auto;
    flex-shrink: 0;
    flex-grow: 0;
}

section.paper {
  page: paper;
  margin: 0 auto;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(var(--division-horizontal), calc(980px / var(--division-horizontal)));
  grid-template-columns: repeat(var(--division-vertical), calc(740px / var(--division-vertical)));
  word-break: break-all;
}

div.section {

  writing-mode: vertical-rl;
  text-orientation: upright;

  &-1 {
    writing-mode: horizontal-tb;
    grid-row: 1 / 5;
    grid-column: 115 / 131;
    padding: 5px;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & .date {
        font-size: 8px;
    }

    & img {
        width: 100%;
        object-fit: contain;
    }

    & .digit {
        font-size: 150%;
        font-weight: bold;
    }

  }

  &-2 {
    writing-mode: horizontal-tb;
    grid-row: 5 / 7;
    grid-column: 115 / 131;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
    padding: 2px;

    & > .ad {
        border: 2px solid black;
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }
  }

  &-3 {
    width: 100%;
    height: 100%;
    writing-mode: horizontal-tb;
    grid-row: 7 / 8;
    grid-column: 115 / 131;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & > .wrap {
        margin: 5px 10px;
        max-width: max-content;
        font-size: 10px;
        transform: scale(0.5);
    }

    & .lead {
        background-color: #1f4987;
        width: 100%;
        text-align: center;
        color: white;
    }

    & .tel::before {
        content: '';
        display: inline-block;
        background-image: url('../img/free1.gif');
        background-size: contain;
        --height: 1em;
        height: var(--height);
        width: calc(var(--height) / 80 * 139);
    }

    & .link {
        font-size: 4px;
        overflow: hidden;
        white-space: nowrap;
    }
  }

  &-4 {
    grid-row: 1 / 2;
    grid-column: 1 / 115;
    writing-mode: horizontal-tb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5px;
    border-bottom: 2px solid var(--color-blue);

    & > .card-header {
        width: 100%;
        height: 10%;
        background: linear-gradient(to bottom, var(--color-blue), white);
        color: white;
        font-size: 10px;
        line-height: 100%;
        text-transform: uppercase;
        padding-left: 5px;
    }

    & > .card-headers {
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  }

  &-5 {
    grid-row: 2 / 7;
    grid-column: 98 / 115;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;

    & > .article-1 {
        align-items: center;

        &--title {
            font-size: 25px;
            transform: scale(1.5, 1);
            font-weight: bold;
        }

        &--subtitle {
            font-size: 20px;
            font-family: serif;
            font-weight: bold;

            & .small {
                font-size: 15px;
                font-family: sans-serif;
                font-weight: normal;
                padding-bottom: 5px;
            }
        }
    }
  }

  &-6 {
    grid-row: 2 / span 4;
    grid-column: 89 / span 9;
    padding: 10px 0;
  }

  &-7 {
      grid-row: 2 / span 3;
      grid-column: 84 / span 5;
      padding: 15px 0 8px 0;
      font-family: serif;
      font-size: 18px;
  }

  &-8 {
      border-bottom: 1px solid black;
      grid-row: 2 / span 1;
      grid-column: 79 / span 5;
      padding-top: 5px;
  }

  &-9 {
      grid-row: 3 / span 1;
      grid-column: 79 / span 5;
  }

  &-10 {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      grid-row: 4 / span 1;
      grid-column: 55 / span 29;
  }

  &-11 {
      margin-top: -1px;
      border-top: 1px solid black;
      grid-row: 5 / span 1;
      grid-column: 74 / span 15;
  }

  &-12 {
      border-top: 1px solid black;
      grid-row: 6 / span 1;
      grid-column: 74 / span 24;
  }

  &-13 {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      grid-row: 7 / span 1;
      grid-column: 74 / span 41;
  }

  &-14 {
    grid-row: 8 / span 3;
    grid-column: 102 / 131;
    margin: 2px;
    padding: 3px;
    border: 2px double black;

    display: grid;
    grid-template-rows: repeat(7, calc(160px / 7));
    grid-template-columns: repeat(7, calc(190px / 7));

    &--title {
      grid-row: 1 / 2;
      grid-column: 1 / 8;
      background: lightgray;
      transform: scale(0.7);
      transform-origin: top right;
      margin: 1px;
      font-weight: bold;
      height: 125%;
    }

    &--subtitle {
      grid-row: 2 / span 3;
      grid-column: 4;
      writing-mode: horizontal-tb;
      transform: scale(0.45);
      transform-origin: top right;
      width: 222%;
    }

    &--intro {
      grid-row: 2 / span 3;
      grid-column: 1 / span 2;
      transform: scale(0.3);
      transform-origin: top right;
      height: 440%;
      text-indent: 1em;
    }

    &--info {
      grid-row: 2 / span 5;
      grid-column: 5 / span 2;
      transform: scale(0.8);
      transform-origin: top right;
      height: 148%;
    }
  }

  &-15 {
    grid-row: 8 / span 1;
    grid-column: 92 / 102;
    border-bottom: 1px solid black;
  }

  &-16 {
    grid-row: 9;
    grid-column: 92 / 102;
    border-bottom: 1px solid black;
  }

  &-17 {
    grid-row: 10;
    grid-column: 92 / 102;
    border-bottom: 1px solid black;
  }

  &-18 {
    grid-row: 8 / span 3;
    grid-column: 85 / 91;
    border-bottom: 1px solid black;

    &--title {
      transform: scale(1.5, 1.1);
      transform-origin: top;
      padding: 0 5px 0px 2px;
      margin: 5px;
      font-weight: bold;
    }
  }

  &-19 {
    grid-row: 8 / span 3;
    grid-column: 79 / 85;
    border-bottom: 1px solid black;

    &--wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      font-size: 12px;
      padding-bottom: 15px;
    }

    &--company {
      font-size: 8px;
    }

    &--subtitle {
      font-family: serif;
      font-weight: bold;
    }
  }

  &-20 {
      grid-row: 8;
      grid-column: 74 / 79;
      border-bottom: 1px solid black;
  }

  &-21 {
      grid-row: 9;
      grid-column: 74 / 79;
      border-bottom: 1px solid black;
  }

  &-22 {
      grid-row: 10;
      grid-column: 74 / 79;
      border-bottom: 1px solid black;
  }

  &-23 {
      grid-row: 8 / span 3;
      grid-column: 91;
      border-bottom: 1px solid black;

      &--inner {
        width: 100%;
        margin: 5px 0;
        border-left: 1px solid black;
      }
  }

  &-24 {
      grid-row: 11 / 13;
      grid-column: 116 / 131;
      margin-top: -1px;
      border-top: 1px solid black;

      &--ad {
          width: 100%;
          margin: 2px;
          margin-left: 0;
          border: 1px solid black;
      }
  }

  &-25 {
      grid-row: 11 / 13;
      grid-column: 115;
      border-top: 1px solid black;
      margin-top: -1px;

      &--border {
          width: 100%;
          margin: 2px 0;
          border-left: 1px solid black;
      }
  }

  &-26 {
      grid-row: 11;
      grid-column: 95 / 115;
      margin-top: -1px;
      border-top: 1px solid black;
  }

  &-27 {
      grid-row: 12;
      grid-column: 70 / 115;
      margin: 0 2px;
      border-top: 1px solid black;
  }

  &-28 {
      grid-row: 11;
      grid-column: 70 / 95;
      margin: 2px 0 2px 2px;
      padding: 0 1px;
      border-left: 1px solid black;
      border-right: 1px solid black;

      &--ad {
          width: 100%;
          border: 1px solid black;
          border-radius: 10% 10% 0 0;
      }
  }

  &-29 {
      grid-row: 5 / span 4;
      grid-column: 58 / 74;
      margin: 5px 2px 0 2px;
      padding-bottom: 5px;
      border-right: 1px solid black;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-flow: column;

      &--title {
          transform: scale(1.4, 1.25);
          transform-origin: bottom;
          font-size: 20px;
          font-weight: bold;
      }

      &--subtitle {
          font-family: serif;
          font-weight: 500;
      }
  }

  &-30 {
      grid-row: 5;
      grid-column: 55 / 58;
      border-bottom: 1px solid black;
  }

  &-31 {
      grid-row: 6;
      grid-column: 55 / 58;
      border-bottom: 1px solid black;
  }

  &-32 {
      grid-row: 7;
      grid-column: 55 / 58;
      border-bottom: 1px solid black;
  }

  &-33 {
      grid-row: 8;
      grid-column: 55 / 58;
  }

  &-34 {
      grid-row: 9;
      grid-column: 55 / 73;
      margin-right: 2px;
      border-top: 1px solid black;
  }

  &-35 {
      grid-row: 10;
      grid-column: 22 / 73;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
  }

  &-36 {
      grid-row: 9;
      grid-column: 73;
      margin-right: 2px;
      border-right: 1px solid black;
  }

  &-37 {
      grid-row: 10;
      grid-column: 73;
      border-bottom: 1px solid black;

      &--border {
          margin: 0 2px 5px 0;
          border-right: 1px solid black;
      }
  }

  &-38 {
    grid-row: 2 / span 8;
    grid-column: 53 / 55;
    margin: 10px 5px 10px 0;
    border-right: 2px solid black;
  }

  &-39 {
    grid-row: 2;
    grid-column: 22 / 53;
  }

  &-40 {
    grid-row: 3 / span 5;
    grid-column: 22 / 53;

    display: grid;
    grid-template-rows: calc(100% / 17 * 4) calc(100% / 17 * 2) calc(100% / 17 * 11);
    grid-template-columns: calc(100% / 10) repeat(4, calc(100% / 10 * 2)) calc(100% / 10);
    justify-content: center;

    &--title_hatch {
      writing-mode: horizontal-tb;
      grid-row: 1 / 4;
      grid-column: 1;
      background: lightgray;

      margin: 5px 0;
      padding: 0 10px;
      font-weight: bold;
    }

    &--title_vertical {
      grid-row: 1;
      grid-column: 2 / 6;

      font-weight: bold;
      font-size: 21px;
      font-family: serif;
    }

    &--subtitle {
      grid-row: 1 / 4;
      grid-column: 6;

      writing-mode: horizontal-tb;
      font-size: 19px;
      font-family: serif;
    }

    &--image {
      grid-row: 3;
      grid-column: 2 / 6;
    }

    &--1 {
      grid-row: 2;
      grid-column: 2;
    }

    &--2 {
      grid-row: 2;
      grid-column: 3;
    }

    &--3 {
      grid-row: 2;
      grid-column: 4;
    }

    &--4 {
      grid-row: 2;
      grid-column: 5;
    }
  }

  &-41 {
    grid-row: 8;
    grid-column: 22 / 53;
  }

  &-42 {
    grid-row: 9;
    grid-column: 22 / 53;
  }

  &-43 {
    grid-row: 2 / 11;
    grid-column: 1 / 22;
    border-top: 2px solid white;
    border-right: 2px solid var(--color-blue);
    margin: -2px 5px 5px 0;
    padding: 0 5px;

    writing-mode: horizontal-tb;
    display: flex;
    flex-flow: column;

    &--card {
      &-title_block {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: baseline;

        font-size: 10px;
        transform: scale(0.7);
        transform-origin: top left;
        width: calc(10 / 7 * 100%);
        margin-top: 10px;
      }

      &-title-only {
        margin-top: 0;
      }

      &-title {
        font-weight: bold;
      }

      &-page {
        color: white;
        padding: 0 3px;
        background: black;
      }

      &-content {
        height: 81px;

        & p {
          width: 166%;
          transform-origin: top left;
        }
      }

      &-theme {
        font-family: serif;
        background: #c0d9ff;
        border-top: 2px solid #82aae6;
        font-size: 10px;
        font-weight: bold;
        transform: scale(0.8);
        transform-origin: top left;
        padding-left: 5px;
        width: 125%;
      }
    }
  }

  &-44 {
    grid-row: 11 / 13;
    grid-column: 18 / 70;
    border-top: 1px solid black;
    margin-top: -1px;

    &--wrapper {
      margin: 3px 3px 0 0;
      padding: 3px 3px 0 0;
      border-top: 2px solid black;
      border-right: 2px solid black;
      width: 99%;
    }

    &--date {
      position: absolute;
      bottom: 314px;
      left: 98px;
      padding: 0 10px;

      writing-mode: horizontal-tb;
      background-color: white;
      font-size: 10px;
      transform: scale(0.7);
      transform-origin: top left;
    }

    &--title {
      writing-mode: horizontal-tb;
      font-size: 15px;
      padding: 0 10px;
      float: left;
      margin-bottom: 20px;
      margin-left: 20px;
    }

    &--content :not(:first-child) {
      text-indent: 0;

      &:before {
        content: "▼";
      }
    }
  }

  &-45 {
    grid-row: 11 / 13;
    grid-column: 1 / 18;
    margin-top: -1px;
    padding: 2px 1px 2px 2px;
    border-top: 1px solid black;
    border-right: 1px solid black;

    &--ad {
      width: 100%;
      border: 1px solid black;
    }
  }

  &-46 {
    grid-row: 13 / span 3;
    grid-column: 1 / 131;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 2px;
    padding: 2px 0;

    &--ad {
      border: 2px solid black;
      width: calc(100% / 6 - 2px);
    }
  }
}

.card-head {
    display: grid;
    grid-template: 45% 55% / 45% 55%;
    writing-mode: horizontal-tb;
    height: 100%;
    width: calc(100% / 3);
    font-size: 10px;

    &--image {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        width: 100%;
        background: lightgray;

        &::before {
            content: '';
            height: 0;
            padding-bottom: calc(1 / (16 / 9) * 100%);
        }
    }

    &--title {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        font-weight: bold;
        justify-self: center;
        align-self: center;
        font-size: 12px;
    }

    &--subtitle {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
        width: 120%;
        max-width: max-content;
        transform: scale(0.7);
    }

    &--page {
        color: white;
        background-color: black;
        padding: 0 3px;
        transform: scale(0.7);
    }
}

#title {
    width: 100%;
    margin: 0;
}

#weekday {
    font-weight: bold;
    font-size: 8px;
    padding: 1px 5px;
    border: 1px solid black;
}

.upright {
  text-combine-upright: all;
}
