@page {
  size: A2 portrait;
}

* {
  box-sizing: border-box; 
}

body {
  text-combine-upright: digits 2;
}

section.paper {
  background-color: #e6e6e6;
  margin: 0 auto;
  width: 406mm;
  height: 546mm;
  display: grid;
  grid-template-rows: repeat(15, calc(100% / 15));
  grid-template-columns: repeat(130, calc(100% / 130));
  word-break: break-all;
}

.article {
  writing-mode: vertical-rl;
  &-1 {
   grid-row: 1 / 2;
   grid-column: 129 / 131;
   background: gray;
  }
}


